.header_main {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 130px;
  background: #fff;
  /* Force Hardware Acceleration */
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}
.header_main::after {
  clear: both;
  content: "";
  display: block;
}
.header_main.is-hidden {
  -webkit-transform: translateY(-100%);
      -ms-transform: translateY(-100%);
          transform: translateY(-100%);
}

.nav_wrapper {
  position: relative;
  z-index: 1;
  clear: both;
  width: 100%;
  height: 39px;
  background-color: #25283D;
  /* Force Hardware Acceleration */
  -webkit-transform: translateZ(0);
          transform: translateZ(0);
  will-change: transform;
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

.mainContainer {
  padding: 170px 0 0;
  overflow: hidden;
}
.mainContainer.sub-nav {
  /* to be used if there is sub nav */
  padding-top: 230px;
}
.mainContainer.sub-nav-hero {
  /* to be used if there is hero image + subnav */
  padding-top: 0;
}
.mainContainer.sub-nav-hero.secondary-nav-fixed {
  margin-top: 50px;
}

/*
	adjust the positioning of in-page links
	http://nicolasgallagher.com/jump-links-and-viewport-positioning/
*/
.mainContainer.sub-nav :target::before,
.mainContainer.sub-nav-hero :target::before {
  display: block;
  content: "";
  margin-top: -50px;
  height: 50px;
  visibility: hidden;
}